*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
}
body{
    background:#fff666;


}
.navbar{
    display: flex;
    align-items: center;
    padding:20px;


}

nav{
    flex: 1;
    text-align:right;
}

nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li {
  display: inline-block;
  margin-right:20px;
    
}

a{
    text-decoration: none;
    color:#555;
}

p{
    color:#555;
}



.container{
    max-width:1300px;
    margin:auto;


}
.wrapper{

    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 350px;
    background:#fff;
    padding: 25px;
    border-radius: 5px;


}

.wrapper h2{
text-align: center;
margin-bottom: 20px;
text-transform: uppercase;
letter-spacing: 3px;
}

.wrapper .input_field{
    margin-bottom: 10px;

    }
.wrapper .input_field input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;

    }

 .wrapper textarea{
     height: 80px;
     resize:none;
 }

 .wrapper .btn input[type="submit"] {
    border: 0 ;
    margin-top: 15px;
    padding : 10px;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;

 }


.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b9e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}